.popup__name-input {
  margin: 0 auto;
  margin-top: 54px;
  max-width: 358px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  outline: none;
}

@media screen and (max-width: 500px) {
  .popup__name-input {
    max-width: 238px;
  }
}
