.profile__name {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: A;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
